@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tourney:wght@300;700&display=swap');


body{
    background-color: #fbfafa;
}
.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.main-section > button {
    font-family: 'Poppins';
    font-size: 3em;
    padding: 0.7em 1.3em;
    margin-right: 20px;
    color: #a55305;
    background-color: #EE9B01;
    border: none;
    cursor: pointer;
}
.main-section>button:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    color: #673302;
}
.main-section {
    margin-top: 15%;
}
.sample-section {
    margin-top: 5%;
}
.sample {
    width: 70%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
}
.numbers-section {
    display: flex;
    flex-direction: row;
}
.numbers-section > p {
    font-size: 7em;
    font-family: 'Tourney';
    padding: 0.2em;
    color: #d12026;
}
.solution-section {
    width: fit-content;
    font-size: 4em;
    font-family: 'Tourney';
    cursor: pointer;
}
.solution-section > p {
    width: 95px;
    height: 80px;
}
.hide {
    display: none;
}

.wrong {
    background-color: #ac2529;
    color: white;
    transform-box: fill-box;
    transform-origin: center;
    animation: rotateBox 2s linear infinite;
}
.right {
    background-color: #3abf62;
    color: white;
}
@keyframes rotateBox {
    to {
        transform: rotate(0.5turn);
    }
}
.main-button {
    font-size: 2em;
    color: #a55305;
    background-color: #EE9B01;
    padding: 10px 30px;
    cursor: pointer;
    width: fit-content;
    border: none;
    margin: 10px 10px 0 10px;
}
.main-button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.counter {
    display: flex;
    align-items: center;
    justify-content:space-around
}
#correct {
    background-color: #5b9ddf;
    color: white;
    font-size: 3em;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(29, 85, 128, 0.2);
}
#incorrect {
    background-color: #e0694e;
    color: white;
    font-size: 3em;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(29, 85, 128, 0.2);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 15vh;
    left: 5%;
    width: fit-content;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    overflow: hidden;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inputs {
    color: rgb(23, 22, 22);
    font-size: 1.5rem;
    display: block;
    width: 95%;
    margin-right: auto;
    padding: 0.8rem 0;
    border: 0;
    border-bottom: 1px solid rgba(47, 42, 42, 0.6);
}
.modal label {
    display: block;
    color: #787474dd;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: left;
}
.modal div {
    margin-bottom: 3%;
}
.modal h3 {
    margin-bottom: 10%;
}
.modal button {
    padding: 10px 15px;
    border: none;
    background-color: #ec932f;
    font-size: 1em;
    margin-top: 2em;
}

.invalid {
    background-color: #e3777a88;
    border: #d12026;
}

#submitButton {
    padding: 10px 15px;
        border: none;
        background-color: #ec932f;
        font-size: 1em;
        margin-top: 2em;
}

#registration-form p {
    font-size: 1.5rem;
}