@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tourney:wght@300;700&display=swap');


body{
    background-color: #fbfafa;
}
.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.main-section > button {
    font-family: 'Poppins';
    font-size: 3em;
    padding: 0.7em 1.3em;
    margin-right: 20px;
    color: #a55305;
    background-color: #EE9B01;
    border: none;
    cursor: pointer;
}
.main-section>button:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
    color: #673302;
}
.main-section {
    margin-top: 15%;
}
.sample-section {
    margin-top: 5%;
}
.sample {
    width: 70%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 auto;
}
.numbers-section {
    display: flex;
    flex-direction: row;
}
.numbers-section > p {
    font-size: 7em;
    font-family: 'Tourney';
    padding: 0.2em;
    color: #d12026;
}
.solution-section {
    width: fit-content;
    font-size: 4em;
    font-family: 'Tourney';
    cursor: pointer;
}
.solution-section > p {
    width: 95px;
    height: 80px;
}
.hide {
    display: none;
}

.wrong {
    background-color: #ac2529;
    color: white;
    transform-box: fill-box;
    transform-origin: center;
    animation: rotateBox 2s linear infinite;
}
.right {
    background-color: #3abf62;
    color: white;
}
@keyframes rotateBox {
    to {
        transform: rotate(0.5turn);
    }
}
.main-button {
    font-size: 2em;
    color: #a55305;
    background-color: #EE9B01;
    padding: 10px 30px;
    cursor: pointer;
    width: fit-content;
    border: none;
    margin: 10px 10px 0 10px;
}
.main-button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.counter {
    display: flex;
    align-items: center;
    justify-content:space-around
}
#correct {
    background-color: #5b9ddf;
    color: white;
    font-size: 3em;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(29, 85, 128, 0.2);
}
#incorrect {
    background-color: #e0694e;
    color: white;
    font-size: 3em;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(29, 85, 128, 0.2);
}